# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.gitignore
.idea/description.html
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/project-template.xml
Operators.iml
out/
src/
